<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xmlns:aop="http://www.springframework.org/schema/aop"  
        xmlns:p="http://www.springframework.org/schema/p"  
        xmlns:tx="http://www.springframework.org/schema/tx"  
        xmlns:context="http://www.springframework.org/schema/context"  
        xsi:schemaLocation="   
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd   
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 数据源 -->
    <context:property-placeholder location="classpath:database.properties"/>
    
	<!-- 数据源, dbcp连接池 -->
	<bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		 destroy-method="close" scope="singleton">
		 <property name="driverClassName" value="${driver}"></property>
		 <property name="url" value="${url}"></property>
		 <property name="username" value="${user}"></property>
		 <property name="password" value="${password}"></property>
	</bean>
	
	<!-- 事务管理区 -->
	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 事物注解支持 -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="smbms*" rollback-for="Exception"/>
		</tx:attributes>
	</tx:advice>
	<aop:config proxy-target-class="true">
		<aop:pointcut  id="transService" expression="execution(* cn.app.service..*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="transService"/>
	</aop:config>
	
	<!-- 配置sqlSessionFactoryBean -->
	<bean name="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<property name="mapperLocations">
			<list>
				<value>classpath:cn/app/dao/**/*.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- MapperScannerConfigurer -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.app.dao"></property>
	</bean>
	
</beans>