<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.app.dao.AdminMapper">
	
	
	<!-- 更改发布状态 -->
	<update id="vesionAudit" parameterType="AppVersion">
		update app_version set
		
		publishStatus=#{publishStatus}
		
		where id=#{id}
	</update>
	
	<!-- 审核 -->
	<update id="appInfoAudit" parameterType="AppInfo">
		update app_info set
		
		status=#{status}
		
		where id=#{id}
	</update>
	
	<!-- 根据id获取app信息 -->
	<select id="getAppInfoById" parameterType="int" resultType="AppInfo">
		select
			i.id,softwareName,APKName,softwareSize,flatformId,interfaceLanguage,downloads,appInfo,
			(select flatformName from flatform where id=flatformId) flatformName,
			categoryLevel1,(select categoryName from app_category where id=categoryLevel1) categoryName1,
			categoryLevel2,(select categoryName from app_category where id=categoryLevel2) categoryName2,
			categoryLevel3,(select categoryName from app_category where id=categoryLevel3) categoryName3,
			status,logoPicPath,logoLocPath
			,downloads,versionNo,versionId 
		from app_info i inner join app_version v 
		where i.versionId=v.id and i.id=#{id} and i.status=1
	</select>
	<!-- (case status 
				when '1' then '待审核'   
				when '2' then '审核未通过'
				when '3' then '审核通过'
				when '4' then '已上架'
				when '5' then '已下架'
			else '错误状态！'
			end
			)as  -->
	<!-- 获取app版本列表 -->
	<select id="getAppVersion" resultType="AppVersion">
		select * 
		from app_version v,app_info i
		where v.id=i.versionId
	</select>
	
	<!-- 根据id获取app版本信息 -->
	<select id="getAppVersionById" parameterType="int" resultType="AppVersion">
		select * 
		from app_version
		where id=#{id}
	</select>
	
	<!-- /**分页 并 模糊查询 APP信息*/public List<AppInfo> getAppInfoLikePageHelper(Map<String, Object> map); -->
	<select id="getAppInfoLikePageHelper" parameterType="map" 
		resultType="AppInfo">
		select 
			i.id,softwareName,APKName,softwareSize,
			flatformId,(select flatformName from flatform where id=flatformId) flatformName,
			categoryLevel1,(select categoryName from app_category where id=categoryLevel1) categoryName1,
			categoryLevel2,(select categoryName from app_category where id=categoryLevel2) categoryName2,
			categoryLevel3,(select categoryName from app_category where id=categoryLevel3) categoryName3,
			versionId,(select MAX(versionNo) from app_version where id=versionId) versionNo,
			status,
			downloads 
		from app_info i join app_version v 
		on i.versionId=v.id
		where i.status=1
		<if test="appInfo.softwareName!=null and appInfo.softwareName!=''">
			and softwareName like concat('%',#{appInfo.softwareName},'%') 
		</if>
		<if test="appInfo.categoryLevel1!=null and appInfo.categoryLevel1!=''">
			and categoryLevel1=#{appInfo.categoryLevel1} 
		</if>
		<if test="appInfo.categoryLevel2!=null and appInfo.categoryLevel2!=''">
			and categoryLevel2=#{appInfo.categoryLevel2} 
		</if>
		<if test="appInfo.categoryLevel3!=null and appInfo.categoryLevel3!=''">
			and categoryLevel3=#{appInfo.categoryLevel3} 
		</if>
		<if test="appInfo.status!=null and appInfo.status!=''">
			and status=#{appInfo.status} 
		</if>
		<if test="appInfo.flatformId!=null and appInfo.flatformId!=''">
			and flatformId=#{appInfo.flatformId} 
		</if>
		limit #{ph.startNo},#{ph.pageSize}
	</select>
	
	<!-- /** 根据条件  查询总记录数 */ public Integer getCount(AppInfo appInfo); -->
	<select id="getCount" parameterType="AppInfo" 
		resultType="int">
		select 
			count(1) 
		from app_info 
		where status=1
			<if test="softwareName!=null and softwareName!=''">
				and softwareName like concat('%',#{softwareName},'%') 
			</if>
			<if test="categoryLevel1!=null and categoryLevel1!=''">
				and categoryLevel1=#{categoryLevel1} 
			</if>
			<if test="categoryLevel2!=null and categoryLevel2!=''">
				and categoryLevel2=#{categoryLevel2} 
			</if>
			<if test="categoryLevel3!=null and categoryLevel3!=''">
				and categoryLevel3=#{categoryLevel3} 
			</if>
			<if test="status!=null and status!=''">
				and status=#{status} 
			</if>
			<if test="softwareName!=null and softwareName!=''">
				and flatformId=#{flatformId} 
			</if>
		
	</select>
</mapper>
