<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.app.dao.UserDevMapper">

	<!-- /**查询所有用户*/public List<UserDev> getUserDevList(UserDev UserDev); -->
	<select id="getUserDevList" resultType="cn.app.bean.UserDev">
		select * from dev_user 
	</select>
	
	<!--/** 添加用户 */ public Integer addUserDev(UserDev UserDev); -->
	<insert id="addUserDev" parameterType="cn.app.bean.UserDev">
		insert into dev_user(
			devCode,devName,devPassword,devEmail,devInfo,createdBy,creationDate
		)values(
			#{devCode},#{devName},#{devPassword},#{devEmail},#{devInfo},#{createdBy},#{creationDate}
		)
	</insert>
	
	<!-- /** 根据登录用户名 和 密码查询用户 */ public UserDev getUserDevByUserDevCodeAndPassword(UserDev userDev); -->
	<select id="getUserDevByUserDevCodeAndPassword" parameterType="cn.app.bean.UserDev" 
		resultType="cn.app.bean.UserDev">
		select * from dev_user 
		where devCode =#{devCode} and devPassword=#{devPassword}
	</select>
	
	<!--/** 根据登录用户名 查询用户 */public UserDev getUserDevByUserDevCode(String devCode); -->
	<select id="getUserDevByUserDevCode" parameterType="string" resultType="cn.app.bean.UserDev">
		select * from dev_user 
		where devCode =#{devCode}
	</select>
	
<!-- 	/** 查询用户总录数  <br> @param UserDev  -->
<!-- 	public Integer getCount(UserDev userDev);*/ -->
	
<!-- 	/** 分页查询用户   * @param UserDevName -->
<!-- 	public List<UserDev> getUserDevByPage(Map<String,Object> map); */ -->
	
	
	<!--/** 修改用户 */ public Integer updateUserDev(UserDev userDev); -->
	<update id="updateUserDev" parameterType="cn.app.bean.UserDev">
		update dev_user 
		set devCode=#{devCode},
			devName=#{devName},
			devEmail=#{devEmail},
			devInfo=#{devInfo} 
		where id=#{id}
	</update>
	
	<!--/** 根据主键id 查询用户 */ public UserDev getUserDevById(Integer id); -->
	<select id="getUserDevById" resultType="cn.app.bean.UserDev">
		select * from dev_user 
		where id=#{id}
	</select>
	
	<!-- /** 根据id 修改用户密码 */public int updateUserDevPassword((UserDev userDev)); -->
	<update id="updateUserDevPassword" parameterType="UserDev">
		update dev_user 
		set devPassword=#{devPassword} 
		where id=#{id}
	</update>
</mapper>
